extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Luis Garcia
        p.lead.text-light
          | Full Stack Developer
        .portfolio-bio
          p
            | I started my professional career in the construction industry that lasted for 8yrs, but am now an avid technology doodle dabbler. I'm currently   
            | doing a lot of Rails, JS and Express stuff. I'm currently employed at Charisma Media where I practice fetching API's from our internal database and others, 
            | and I practice delivering feature work using Mithril JS, Docker and Rancher. For the most part I create and maintain company web apps.
            | I've found my knack in the backend and intend to continue writing code that clients enjoy and appreciate. 
            | I have experience working on big public database developmental projects and well as for small private companies. 
            | When I'm not caught up in my passion I also appreciate social events, good food, and building cool things that people talk about.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Ruby
          li Javascript
          li Express
          li Mithril JS
          li Moment JS
          li Gitlab
          li Rancher
          li Docker
          li Grunt
          li Webpack
          li CSS
          li Less

        h6 Email:
        ul
          li gluis.webdev@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/gluis/') LinkedIn
        a.button.expanded(href='https://github.com/garcia50') GitHub
        a.button.expanded(href='https://twitter.com/Its_Luis_Garcia') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  